.navbar ul {
    /* the color behind the home and about me button and removing the bullet points */
    list-style-type: none;
    background-color: rgb(75, 237, 69);
    padding: 3%;
    margin: auto;
    font-size: x-large;

}
/* this is making the home and about me buttons stay side by side and is keeping the space inbetween them  */
li {
    display: inline;
    margin-right: 10px;
}
/* this is making any <a> tags in the navbar not have the underline that links have and making the text bolder */
.navbar a {
    color: hsl(127, 100%, 24%);
    text-decoration: none;
    font-weight: bolder;
    

}
/* this is when you hover over the home or about me the text gets bigger */
.navbar a:hover {
    font-size: xx-large;
    
}
/* this is making the background that is above the boarder red aswell a and is making the home and about me take up the full space at the top  and 
the same with the paragraph*/
body {
    background-color: rgb(255, 0, 0);
    margin: auto;
    
}